{
    margin: 0;
    padding: 0;
    user-select: none;
    
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../password-generator/background-image.jfif");
    background-size: cover;
    
}

.inputBox {
    position: relative;
    width: 450px;
    text-align: center;
}

.inputBox h1 {
    font-size: 40px;
    text-shadow: 0 0 10px rgb(72, 61, 146);
}

.inputBox input {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 15px 0 20px;
    padding: 0 10px;
    font-size: 24px;
    border-radius: 8px;
}

.inputBox #btn {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    display:inline-block;
    border-radius: 8px;
}

.inputBox #btn:hover {
    transition: 1s;
    box-shadow: 5px 5px 0px rgb(30, 30, 31);
}

.inputBox #generate  {
    position: relative;
    cursor: pointer;
    background: rgb(185, 188, 189);
    font-size: 24px;
    display:inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}